:root {
    background-image: linear-gradient(to right, #e8c580, #e48523);
}
@font-face {
    font-family: 'customFont';
    src: url('./font/2Dumb-webfont.woff');
}

.container {
    display: grid;
    grid-template: 17ch 10ch 1fr / 1fr;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(61,18,3, .3);
    color: #e8c580;
    border-radius: .4rem;
    font-family: 'customFont';
    font-size: 1.5rem;
}
.searchElements {
    display: flex;
    gap: 1ch;
    justify-content: center;
    align-items: center;
    margin: 5ch;
}
#search {
    width: 70vw;
    height: 3ch;
    border-radius: .6rem;
    font-size: 1rem;
    background-color: rgba(61,18,3, .3);
    border: 2.5px solid rgba(61,18,3, .4);
}
#search::placeholder {
    position: relative;
    left: 5ch;
    color: #e8c580;
}
#searchBtn {
    border-radius: .6rem;
    background-color: rgba(61,18,3, .3);
    color: #e8c580;
    flex-basis: 10ch;
    height: 4ch;
    border: 2.5px solid rgba(61,18,3, .4);
}
#searchBtn:focus, #searchBtn:hover {
    background-color: rgba(61,18,3, .5); 
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vw;
}
.content > img {
    position: relative;
    left: 20vw;
    height: 65%;
    width: 50%;
    border-radius: .5rem;
}